/*Nav*/
nav {
    height: 130px;
    background-color: white;
}


/*Bolinha do slider*/
.slider .indicators .indicator-item{
    display: none;
}

#img-aluno{
    position: absolute;
    width: 200px;
    left: 10%;
}

blockquote{
    font-size: 14pt;
    font-weight: 600;
    /* 
    border-left: 5px solid #ee6e73;
    */
}
.block{
    display: flex;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 50px;
    font-size: 1rem;
}

.largura{
    width: 400px;
    margin-left: 20px;

}

.material-icons{
    color: #ee6e73;
    font-size: small;
    padding-right: 5px;
}